<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}" />
    <title>Quiz Questions</title>
  </head>
  <body>
    <div class="quiz">
      <div class="questions">
        <h1>{{ quiz_content.language }}</h1>
        <form action="{{ url_for('quiz') }}" method="GET" class="question">
          {% for question in quiz_content['questions'] %}
          <div class="question">
            <p>{{ loop.index }}. {{ question['question'] }}</p>
            {% set question_number = loop.index0 %}
            {% for choice in question['choices'] %}
            <div class="choices">
              <input
                type="radio"
                name="q{{ question_number }}"
                value="{{ choice }}"
                id="q{{ question_number }}_option{{ loop.index }}"
              />
              <label for="q{{ question_number }}_option{{ loop.index }}">{{ choice }}</label>
            </div>
            {% endfor %}
          </div>
          {% endfor %}
          
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
